<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Update Content</h1>
    <form action="/posts/<%= post.id %>?_method=PATCH" method="POST">
        <input type="text" placeholder="Enter username" value="<%=post.username%>" readonly id="username" required name="username">
        <br/>
        <br/>
        <textarea  required placeholder="Enter your thought" id="content" name="content" ></textarea>
        <br/>
        <br/>
        <button>Update</button>
    </form>
</body>
</html>