<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>This msg was send from <b><%= chat.from%></b> to <b><%= chat.to %></b></p>
    <form action="/chats/<%= chat._id %>?_method=PUT" method="POST">
        <label for="msg">New Msg:</label>
        <br>
        <textarea name="msg" id="msg"><%= chat.msg %></textarea>
        <br>
        <button type="submit">Save</button>
    </form>
    
</body>
</html>