<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <form method="POST" action="/chats">
        Your Name: <input name="from" type="text">
        <br>
        <br>
        To: <input name="to" type="text">
        <br>
        <br>
        Msg: <textarea name="msg" placeholder="Enter your message here"></textarea>
        <br>
        <br>
        <button type="submit">Send</button>
    </form>
</body>
</html>