<div style="background-color: blue; color: white; text-align: center;">
    <ul>Contact Details
        <li>Name : Faziel</li>
        <li>Number : +91 7006205934</li>
        <li>Address : JK</li>
    </ul>
</div>